<div class="footer ">
    <div class="footer__content">
        <div class="footer-copyright-right  text-secondary">
            <a class="copy-right__item text-decoration-none text-secondary" href="">Terms</a>
            <a class="copy-right__item text-decoration-none text-secondary" href="">Privacy</a>
            <a class="copy-right__item text-decoration-none text-secondary" href="">Help</a>
            <a class="copy-right__item copy-right__item-gold text-decoration-none" href="">Gold</a>
        </div>
        <div class="footer-copyright-left ">
            <a class="copy-left__item text-decoration-none text-secondary" href=""> © Ko-fi Labs</a>
        </div>
    </div>
</div>